*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.courseCard {
  min-height: 100%;
}

.custom-form {
  border: 1px solid #464646;
  padding: 20px;
  border-radius: 5px;
}

.center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.notFound input[type="text"] {
  border: 2px solid gray;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 10px;
  outline: none;
}

.notFound button {
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
}

.notFound button:hover {
  background-color: #0069d9; 
}
